@import 'global-vars.scss';

body {
    overflow: hidden;
}

// ##########################
// # Global site background #
// ##########################
.site-background {
    background: center / cover no-repeat;
    position: absolute;
    height: 100%;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
}

// ##########################
// # Global container block #
// ##########################
.container {
    max-width: 600px;
    margin: 0 auto;
}

// #######################
// # Music control block #
// #######################
.player {
    max-height: 168px;
    margin-top: 22px;

    &__inner {
        padding: 0 16px;
        height: 168px;
        display: flex;

        @media (max-width: $media-mobile) {
            height: 130px;
        }
    }

    &__image-wrapper {
        margin-right: 16px;
        position: relative;
        flex-shrink: 0;
        width: 168px;

        img {
            transform: translate(-50%, -50%);
            position: absolute;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            left: 50%;
            top: 50%;
        }

        @media (max-width: $media-mobile) {
            display: none;
        }
    }

    &__content {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
        width: 100%;
    }

    &__top-bar {
        font: 500 normal 19px $primary-font, sans-serif;
        color: $primary-color;
        letter-spacing: -.1px;
        word-spacing: 1px;
        display: flex;

        &-mobile-image {
            margin-right: 15px;
            width: 38px;

            @media (min-width: $media-mobile) {
                display: none;
            }
        }

        &-song {
            font-weight: 500;
            font-size: 19px;
            display: block;
        }

        &-author {
            font-weight: 300;
            font-size: 13px;
            display: block;
            opacity: .7;
        }
    }
}

// #########################
// # Player controls block #
// #########################
.controls {
    &__progress-bar {
        margin-bottom: 20px;
    }

    &__buttons-block {
        display: flex;
    }

    &__btn {
        margin-left: 25px;

        &_right {
            margin-left: auto;
        }

        &_play {
            flex-basis: 25px;
            text-align: end;
        }

        &:first-child {
            margin-left: 0;
        }
    }
}

// #######################
// # Player progress-bar #
// #######################
.progress-bar {
    font: 300 normal 13px $primary-font, sans-serif;
    display: block;
    width: 100%;
    z-index: 1;

    &__time {
        color: $primary-color;
        position: relative;
        cursor: default; // remove cursor: text
        height: 16px;

        &-current {
            position: absolute;
            left: 0;
        }

        &-duration {
            position: absolute;
            right: 0;
        }
    }

    &__seek {
        background: rgba($primary-color, 0.2);
        position: relative;
        border-radius: 3px;
        margin-top: 3px;
        cursor: pointer;
        height: 4px;
        width: 100%;

        @media (max-width: $media-mobile) {
            height: 10px;
        }

        &-thumb {
            border-radius: inherit;
            position: absolute;
            max-width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        &-played {
            background: $secondary-color;
            max-width: 100%;
            z-index: 3;
        }

        &-loaded {
            background-color: $primary-color;
            opacity: .4;
            z-index: 2;
            width: 0%;
        }
    }
}

// ###########################
// # Player controls buttons #
// ###########################
.controls-btn {
    position: relative;
    background: 0;
    padding: 0;
    border: 0;

    & svg:hover {
        opacity: .7;
    }
}

// ##################
// # Volume control #
// ##################
.volume-changer {
    background: rgba($primary-color, 0.2);
    transform: rotate(180deg);
    position: absolute;
    border-radius: 5px;
    margin-left: -4px;
    cursor: pointer;
    display: none;
    height: 100px;
    top: -105px;
    z-index: 5;
    width: 8px;
    left: 50%;

    &__seek {
        background: $secondary-color;
        border-radius: 5px;
        height: 50%;
    }

    &_show {
        display: block;
    }
}

// ###################
// # Tracks playlist #
// ###################
.track-list {
    &__inner {
        padding-top: 21px;
        display: block;
    }

    &__item {
        margin: 7px 0;
    }
}

.track {
    transition: all 0.2s ease-in-out;
    padding: 0 8px;

    &__wrapper:hover &__icon {
        display: block;
    }

    &__wrapper {
        transition: all 0.2s ease-in-out;
        border-radius: 4px;
        padding: 6px 7px;
        cursor: pointer;

        &:hover {
            background: rgba(255, 239, 175, 0.098);
        }
    }

    &__inner {
        align-items: center;
        display: flex;
    }

    &__image-wrapper {
        position: relative;
        height: 53px;
        width: 53px;
    }

    &__image {
        img {
            height: 100%;
            width: 100%;
        }
    }

    &__icon {
        transition: all 0.2s ease-in-out;
        border-radius: inherit;
        position: absolute;
        text-align: center;
        display: none;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;

        svg {
            height: 100%;
        }

        &_show {
            display: block;
        }
    }

    &__title {
        margin: -10px 0 0 18px;

        &-song {
            font: 500 normal 15px $primary-font, sans-serif;
            color: $primary-color;
            display: block;

            @media (max-width: $media-mobile) {
                font-size: 14px;
            }
        }

        &-author {
            font: 300 normal 13px $primary-font, sans-serif;
            color: $primary-color;
            display: block;
            opacity: .7;
        }
    }

    &__time {
        font: 300 normal 13px $primary-font, sans-serif;
        color: $primary-color;
        margin-left: auto;
        display: block;
        opacity: .7;
    }
}

// #########################
// # Add song modal window #
// #########################
.add-song-modal {
    font: 300 normal 15px $primary-font, sans-serif;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: #FFF;
    position: absolute;
    max-width: 370px;
    display: none;
    width: 100%;
    z-index: 99;
    left: 50%;
    top: 50%;

    &_show {
        display: block;
    }

    &__title {
        background: #E93A4F;
        text-align: center;
        line-height: 50px;
        font-weight: 500;
        color: #FFF;
        height: 50px;
    }

    &__content {
        padding: 25px;
    }
}

.add-song-form {
    &__btn {
        transition: .5s all ease;
        background: #959595;
        border-radius: 50px;
        margin: 0 auto;
        display: block;
        color: #FFF;
        padding: 10px;
        border: 0;

        &:hover {
            background: #FFF;
            color: #959595;
        }
    }

    &__image-box {
        height: 130px;
        width: 100%;
    }

    &__inputs-box {
        margin-top: 20px;
    }

    &__text-input {
        justify-content: space-between;
        margin-bottom: 5px;
        display: flex;
    }

    &__upload-audio-wrapper {
        margin-top: 15px;
    }
}

.upload-image-box {
    border: 2px dashed #D6D6D7;
    position: relative;
    text-align: center;

    &_hover {
        opacity: .7;
    }

    &__inner {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &__image-preview {
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFF;
        background-size: contain;
        position: absolute;
        cursor: pointer;
        height: 100%;
        width: 100%;
        z-index: 2;
        left: 0;
        top: 0;
    }

    &__title {
        margin-bottom: 10px;
        color: #828082;
        display: block;
    }

    &__secondary-text {
        margin-bottom: 10px;
        color: #CBCCCC;
        display: block;
    }
}

.add-song-footer {
    display: flex;

    &__btn {
        transition: .5s all ease;
        box-sizing: border-box;
        border: #DFDFDF;
        color: #6C686B;
        height: 35px;
        border: 0;
        flex: 1;

        &:hover {
            background: #FFF;
        }

        &_green {
            background: #74BF2F;
            color: #FFF;

            &:hover {
                background: #FFF;
                color: #74BF2F;
            }
        }
    }
}